<html lang="en">
    <head>
        <title>Ledger</title>
    </head>
    <body>
        {% if request.user.is_authenticated %}
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
        <h1 style="text-align: center;">Recipe Book</h1>  
        {% block content %}
        {% endblock %}
    </body>
</html>